* {
    box-sizing: border-box;
}

h1 { 
    font-size: 10vh;
    font-family: "Arimo", Helvetica;
    color: #FF8369;
}

h2 {
    font-size: 30px;
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 600;
    color: #79C7D6;
}

h3 {
    font-size: 5vh;
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    color: #555;
}

html body {
    background-color: #fafbfc;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
}

/* Mobile Response */
/* @media screen and (max-width: 320px) {

    .header {
        justify-content: space-around;
    }

    /* Subscribe Form */
    /* .subscribe-form {
        text-align: center;
    }
    .cancelbtn, 
    .signupbtn {
        width: 100%;
    }

} */ 

/* Tablet */
/* @media (min-width: 321px) and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 10% 12% 20% 8% 5% 40% 5%;
    }

    ul.navbar li {
        float: right;
    }
    
    .portrait {
        background-image: url("/Users/matthewlopez1/Desktop/Programming/Front End/Udacity Blog Project/images/IMG_0125.jpeg");
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
    }

    .bio {
        font-style: italic;
        color: #555;
        text-align: center;
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        justify-self: center;
        align-self: center;
    }
    
    /* .Subscribe Form */
    /* .subscribe-form {
        text-align: center;
        grid-column: 1 /4;
        grid-row: 4 / 5;   
        justify-self: center;     
    }

    .spacer {
        grid-column: 1 / 4;
        grid-row: 5 / 6;
    }

    . main {
        grid-column: 1 / 4;
        grid-row: 6 / 7;
    }
    
    .footer {
        grid-column: 1 / 4;
        grid-row: 7 / 8;
    }    
} */ 

/* Desktop Response */
@media (min-width: 769px) {
    .container {
        display: grid;        
        grid-template-columns: 40% 30% 30%;
        grid-template-rows: 4em 15% 10% 1fr 900px 7%;
        grid-template-areas: 
        
            "hd hd hd"
            "por bio bio"
            "sub sub sub"
            "sp sp sp"
            "main main main"
            "ft ft ft";
        grid-gap: 5px; 
        grid-auto-flow: row;
    }

    .header {
        grid-area: hd;
        position: static;
    }

    /* nav {
        grid-area: nv;
    } */

    nav > ul > li {
        float: right;
    }

    .portrait {
        /* background-position: center; */
        width: 50px;
        height: 50px;
        z-index: -1;
        grid-area: por;
        justify-self: center;
        align-self: center;
    }
    
    .bio {
        font-style: italic;
        color: #555;
        text-align: center;
        grid-area: bio;
        justify-self: center;
        align-self: center;
    }
    
    .subscribe-form {
        text-align: center;
        grid-area: sub;
        justify-self: center;  
    }

    .main {
        grid-area: main;
        display: flex;
        flex-flow: wrap;
        list-style: none;
        justify-content: space-around;
        align-content: flex-end;
    }
    
    .spacer {
        grid-area: sp;
    }
    
    .footer {
        grid-area: ft;
    }  
}