* {
    box-sizing: border-box;
}

h1 { 
    font-size: 10vh;
    font-family: Arimo, Helvetica;
    color: #FF8369;
}

h2 {
    font-size: 7vh;
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 600;
    color: #79C7D6;
}

h3 {
    font-size: 5vh;
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    color: #555;
}

html body {
    background-color: #fafbfc;
    font-size: 5vh;
    font-family: Montserrat, sans-serif;
}

/* Mobile Response */
.container {
    display: flex;
    flex-wrap: wrap;
}

.bio {
    font-style: italic;
    color: #555;
}

.portrait {
    background-image: url("/Users/matthewlopez1/Desktop/Programming/Front\ End/Udacity\ Blog\ Project/images/IMG_0125.jpeg");
    border-radius: 50%;
}

.subscribe-form {

}

.spacer {

}

.footer {

}

/* Tablet */
@media (min-width: 321px) and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 10% 12% 20% 8% 5% 40% 5%;
    }

    ul.navbar li {
        float: right;
    }
    
    .portrait {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .bio {
        font-style: italic;
        color: #555;
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
    
    .subscribe-form {
    
    }
    
    .spacer {
    
    }
    
    .footer {
        
    }    
}

/* Desktop Response */
@media (min-width: 769px) {
    .container {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 10% 15% 8% 10% 50% 7%;
    }

    ul.navbar li {
        float: right;
    }

    .portrait {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .bio {
        font-style: italic;
        color: #555;
        grid-column: 2 / 4;
        grid-row: 2/ 3;
    }
    
    .subscribe-form {
    
    }
    
    .spacer {
    
    }
    
    .footer {
        
    }  
}