* {
  box-sizing: border-box;
}

h1 {
  font-size: 10vh;
  font-family: "Arimo", Helvetica;
  color: #ff8369;
}

h2 {
  font-size: 30px;
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 600;
  color: #79c7d6;
}

h3 {
  font-size: 5vh;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  color: #555;
  margin: auto;
}

html body {
  margin: 0 auto;
  background-color: #fafbfc;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}
/* Mobile & Tablet Responsive */
@media screen and (max-width: 1023px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .heading {
    margin: auto;
  }

  article > h1 {
    grid-area: ttl;
    text-align: center;
  }

  nav {
    margin: auto;  
  }

  /* Subscribe Form */
  .subscribe-form {
    /* display: flex;
        flex-flow: wrap;
        margin: auto; */
    text-align: center;
  }

  .cancelbtn,
  .signupbtn {
    width: 100%;
  }

  .main {
    margin: 0px 10%;
  }

  .social-links {
    margin: auto;
    text-align: center;
  }

  .line-break {
    width: 40%;
    border: 2px solid #fac232;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-fix {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    text-align: center;
    width: 100%;
    margin: 5px;
    padding: 0px 10px;
  }

  .footer-heading {
    color: #555;
  }

  a {
    color: #79c7d6;
    text-decoration: none;
    justify-content: center;
  }

  a:hover {
    color: #ff8369;
  }
}

/* Desktop Response */
@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 2em 50px 1fr 120px 70px;
    grid-template-areas:
      "hd hd hd"
      "ttl ttl ttl"
      ". main ."
      "soc soc soc"
      "ft ft ft";

    grid-gap: 5px;
  }

  .header {
    grid-area: hd;
    position: static;
  }

  nav > ul > li {
    float: right;
  }

  article > h1 {
    grid-area: ttl;
    text-align: center;
  }

  .main {
    grid-area: main;
  }

  .social-links {
      grid-area: soc;
      text-align: center;
  }

  hr {
    border: 2px solid #fac232;
    margin: 5% 40%;
  }

  .footer {
    grid-area: ft;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    text-align: center;
  }

  .footer-fix {
    margin: 10px auto;
    padding: 0px;
  }

  .footer-heading {
    color: #555;
  }

  a {
    color: #79c7d6;
    text-decoration: none;
  }

  a:hover {
    color: #ff8369;
  }
}
