.header {
    display: flex;
    flex-wrap: wrap;
    position: static;
    justify-content: space-between;
    align-content: bottom;
}

.heading { 
    background-color: #fafbfc;
    font-size: 40px;
    font-family: "Arimo", Helvetica;
    color: #FF8369;     
}

.headingfix {
    color: #79c7d6;
}

nav {
    list-style: none;
    background-color: #fafbfc;
    font-size: 25px;
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    color: #555;
}

nav > ul {
    float: none;
    list-style-type: none;
    white-space: nowrap;
    margin: 0 0;
    padding: 0;
    background-color: #fafbfc;    
}

nav > ul > li {
    float: none;
    display: inline-block;  
  }

nav > ul > li > a {
    display: inline-block;
    color: #555;
    padding: 5px 16px;
    text-decoration: none;    
  }  

nav > ul > li > a:hover {
    color: #79c7d6;
  }    