.share {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.share:hover {
  opacity: 0.7;
}

.share-facebook {
  background: #3b5998;
  color: white;
}

.share-twitter {
  background: #55acee;
  color: white;
}

.share-linkedin {
  background: #007bb5;
  color: white;
}
